/1996 elton gruber blake PErsistence in Risk Adjusted Mutual Funds performance JB.pdf
/1997 Carhart On Persistence in Mutual Fund Performance JF.pdf
/2006 Kosowski Timmermann Can Mutual Fund Stars Really Pick Stocks - New Evidence from a Bootstrap Analysis.pdf
/2010 Performance and Persistence in Institutional Investment Management Busse JF.pdf
/2016 On the robustness of persistence in mutual fund performance.pdf
/Benach_FinalProject_ITcourse.xlsx
/Benach_IT_3_data.xlsx
/Benach_IT_final_data.xlsx
/FinalProject_ITcourse_23_24_Klinkowska.pdf
/market cap.xlsx
/monthly_MC_size_50.xlsx
/monthly_MC_size_avg_12p.xlsx
/monthly_MC_size_PER.xlsx
/monthly_MC_size_REB.xlsx
/portfolio_50_returns.xlsx
/portfolio_avg_12p_data.xlsx
/portfolio_PER_data.xlsx
/portfolio_REB_data.xlsx
/stock_prices_Dec2000_Dec2022.xlsx
/workspace.code-workspace